<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h4 style="text-align: center;">{{title}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h3>File Uploaded</h3>

        <span class="text-success" *ngIf="null!=successMsg && successMsg!=''">{{successMsg}}</span>
        <span class="text-danger" *ngIf="null!=errorMsg && errorMsg!=''">{{errorMsg}}</span>
       

        <div *ngIf="progress>0" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>

          <input type="text" id="name" [(ngModel)]="name"/>

          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" />
          </label>
          
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">
            Upload
          </button>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
        <table style="margin-top: 10%;" class="table">
            <thead>
                <th>S.No</th>
                <th>File Name</th>
            </thead>
            <tr *ngFor="let file of fileinfo  | async ;let indexNumber=index;">
                <td>{{indexNumber+1}}</td>
                <td><a href="{{file.url}}">{{file.name}}</a></td>
            </tr>
        </table>
    </div>
    </div>


</div>
            
